:root {

}

/* Font size set to 10px. 1rem will equal 10px. */
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
}

body {
    background-color: blueviolet;
    width: 80%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    
}

/* Properties applied to the Header and Footer */
header,
footer {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}

/* Header and Navigation Bar Section*/
header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
}

header h1.page-title {

}

header nav {

}

li {
    display: inline-block;
    text-decoration: none;
}

a{
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}


/* Page One, Home Section */
.page-one {
    background-color: cadetblue;
    margin-top: 2rem;
}

#home {

}

#home h2.greeting {

}


/* Page Two, About Section */
.page-two {
    background-color: aquamarine;
    margin-top: 2rem;
}

#about {

}

#about h2.bio-elements {

}


/* Page Three, Portfolio Section */
.page-three {
    background-color: lightgreen;
    margin-top: 2rem;
}

#portfolio {

}

#portfolio h2.portfolio-elements {

}


/* Page Four, Contact Section */
.page-four {
    background-color: palevioletred;
    margin-top: 2rem;
}

#contact {

}

#contact h2.contact-me {

}

/* Footer Section */
footer {
    font-size: 2rem;
    margin-top: 2rem;
}

/* Media Queries Section */