/* ========================== 
    Global and Body Section 
   ========================== 
*/

/* Font family set for entire page 
   ------------------------------- */
* {
    font-family: 'Cutive Mono','Courier New', Courier, monospace;
}

/* Font size set to 10px. 1rem will equal 10px. 
        Flex allows body to be centered on page 
   -------------------------------------------- */
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Allowed some positioning to function better 
  ------------------------------------------- */
.wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
}

/* Allows my background to remain fixed while all other containers scroll on top
  ----------------------------------------------------------------------------- */
body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: blueviolet;
    width: 80%;
    height: fit-content;
}

/* Header font sizes 
   ----------------- */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}


/* =====================================
   Navigation and Footer Shared Elements
   ===================================== 
*/

nav,
footer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======================
   Navigation Bar Section 
   ====================== 
*/

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    border-radius: .5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 1;
    
}

/* Hovering over navigation lowers the opacity. 
    Hovering over links raises the opacity back up. 
        Clicking makes text disappear momentarily.
   ----------------------------------------------- */
nav:hover li a {
    opacity: 0.5; 
}

nav:hover li a:hover {
      opacity: 1; 
    
}

nav li a:active {
    color: #fff;
  
}

/* Displays links on one line instead of a column. Removes bullets. 
   ---------------------------------------------------------------- */
li {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

/* Removes underline from link and changes the font color
   ------------------------------------------------------ */
a {
    color:#5b5757;
    font-size: 1.6rem;
    text-decoration: none;
    transition: .3s ease;
}

/* Regular font should equal around 16px 
   ------------------------------------- */
p {
    font-size: 1.6rem;
}

/* Image resizing
   -------------- */
img.logo {
    height: 5rem;
    width: 5rem;
}


/* ====================== 
   Page One, Home Section 
   ====================== 
*/

/* Rounded edges and positioning for content
   ----------------------------------------- */
#page-one {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -1rem;
    border-radius: .5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border: .3rem solid #fff;
}

/* Allows picture and name to sit next to each other
   ------------------------------------------------- */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem
}

/* Image resizing, positioning, and outline
   ---------------------------------------- */
img.hello-pic {
    width: 50%;
    max-width: 51rem;
    height: auto;
    margin-right: 1rem;
    margin-left: 10%;
    outline: .3rem solid #fff;
    border-radius: 5rem;
}

/* Positioning for name
   -------------------- */
.text-wrapper {
    width: 50%;
    margin-left: 1rem;
}


/* ======================= 
   Page Two, About Section 
   ======================= 
*/

/* Rounded edges and positioning for content
   ----------------------------------------- */
#page-two {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border: .3rem solid #fff;
}

/* Aligning header to the center 
   ----------------------------- */
#page-two h2 {
    text-align: center;
}

/* Positioning for text */
#about {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    padding: 3rem;
}
 
.info {
    padding: 3rem;
    padding-bottom: 1rem;
}


/* ============================= 
   Page Three, Portfolio Section 
   ============================= 
*/

/* Rounded edges and positioning for content
   ----------------------------------------- */
#page-three {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border: .3rem solid #fff;
}

/* Aligning header to the center 
   ----------------------------- */
#page-three h2 {
    text-align: center;
}

/* Created a grid to set a larger image on top with two smaller images below
   ------------------------------------------------------------------------- */
#portfolio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 1.5rem;
    padding: 3rem;
}

/* Created a hover affect that dims the picture. 
    Set the transition to ease in.
   --------------------------------------------- */
#portfolio a:hover {
    -webkit-filter:brightness(50%);
    filter: brightness(50%);
    transition: all 1s ease;
}

/* Positioning and styling for image labels
   ---------------------------------------- */
#portfolio h3 {
    color: #0f065e;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 2;
    text-align: center;
    border-top: .3rem solid #fff;
    border-right: .3rem solid #fff;
    border-bottom: .3rem solid #fff;
}

/* Grid positioning for images
   --------------------------- */
.gallery-link-one {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-image: url(../assets/images/coding.jpg);
}

.gallery-link-two {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-image: url(../assets/images/placeholder1.jpg);
}

.gallery-link-three {
    width: 100%;
    height: 100%;
    outline: .3rem solid #fff;
    grid-column: 3 / 6;
    grid-row: 4 / 6;
    background-image: url(../assets/images/placeholder3.jpg);
}

/* Where the label is positioned on each image
   ------------------------------------------- */
.gallery-link-one h3 {
    width: 20%;
    margin-top: 15%;
}

.gallery-link-two h3 {
    width: 50%;
    margin-top: 20%;
}

.gallery-link-three h3 {
   width: 30%;
   margin-top: 13%;
}


/* ========================== 
   Page Four, Contact Section 
   ========================== 
*/

/* Rounded edges and positioning for content
   ----------------------------------------- */
#page-four {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 9rem;
    padding-bottom: 6rem;
    border: .3rem solid #fff;
}

/* Aligning header to the center 
   ----------------------------- */
#page-four h2 {
    text-align: center;
}

/* Allows form to sit in the center
   -------------------------------- */
#contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}

/* Form sizing and text, label, and input positioning
   -------------------------------------------------- */
form {
    margin: 0 auto;
    width: 50rem;
    padding: 1rem;
    border: .3rem solid #fff;
    border-radius: 2rem;
}
  
label {
    display: inline-block;
    width: 10rem;
    font-size: 1.6rem;
}
    
input, 
textarea {
    box-sizing: border-box;
    width: 30rem;
    border: 1px solid #935d9b;
}
  
textarea {
    vertical-align: top;
    height: 6rem;
}
    
button {
    height: 4rem;
    width: 12rem;
    background-color: #935d9b;
    color: #FDF8F5;
}

/* Additional contact information positioning
   ------------------------------------------ */
.label-text {
    text-align: right;
}

.submit-button {
    text-align: center;
}

.contact-directly {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
}

.contact-directly ul {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.contact-directly a {
    font-size: 3rem;
}


/* ==============
   Footer Section 
   ============== 
*/

/* Rounded edges and positioning for content
   ----------------------------------------- */
footer {
    font-size: 2rem;
    margin-top: 2rem;
    bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: .3rem solid #fff;
}


/* =====================
   Media Queries Section 
   ===================== 
*/

@media screen and (max-width: 540px) {
    nav,
    ul, 
    li {
        display: flex;
        flex-direction:column;
        text-align: center;
    }
    #page-one,
    #page-two,
    #page-three,
    #page-four {
        padding: 3rem;
        scroll-margin-top: 15rem;
    }


    #home,
    #about,
    #portfolio,
    #content {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .logo {
        display: none;
    }
    #portfolio h3 {
        line-height: 1;
    }

    .gallery-link-one h3 {
        width: 35%;
    }

    form {
        width: 30rem;
    }
    
    input,
    textarea {
        width: 28rem;
    }
    
    .label-text {
        text-align: left;
    }

}
    
@media screen and (max-width: 426px) {
    
    #page-one,
    #page-two,
    #page-three,
    #page-four,
    #home,
    #about,
    #portfolio,
    #content {
      padding: .5rem;
      padding-top: 2rem;
      
    }
    form,
    .contact-directly p {
        display: none;
    }
     .contact-directly ul {
        padding: 0;
        margin-top: -2rem;
     }
}
