:root {

}

html {

}

body {
    background-color: blueviolet;

}

h1 {

}

h2 {

}

h1,
h2 {

}

/* Properties applied to the Header and Footer */
header,
footer {
    background-color: darkgrey;

}

/* Header and Navigation Bar Section*/
header {

}

header h1.page-title {

}

header nav {

}

li {

}

a{

}

main {
    background-color: plum;

}

/* Page One, Home Section */
.page-one {
    background-color: cadetblue;

}

#home {

}

#home h2.greeting {

}


/* Page Two, About Section */
.page-two {
    background-color: aquamarine;

}

#about {

}

#about h2.bio-elements {

}


/* Page Three, Portfolio Section */
.page-three {
    background-color: lightgreen;
}

#portfolio {

}

#portfolio h2.portfolio-elements {

}


/* Page Four, Contact Section */
.page-four {
    background-color: palevioletred;

}

#contact {

}

#contact h2.contact-me {

}

/* Footer Section */
footer {

}

/* Media Queries Section */