:root {
    --light: #fff;
}

/* Font size set to 10px. 1rem will equal 10px. */
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: blueviolet;
    width: 80%;
    height: fit-content;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    
}


/* Properties applied to the Header and Footer */
nav,
footer {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header and Navigation Bar Section*/
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    border-radius: .5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* This allows me to change the color based on hover and what page we are on */
nav:hover li a {
    opacity: 0.5; 
}
nav:hover li a:hover {
      opacity: 1; 
    
}

li {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
    transition: .3s ease;
}

p {
    font-size: 1.6rem;
}

img {
    height: 5rem;
    width: 5rem;
}


/* Page One, Home Section */
.page-one {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

#home {

}

#home h2.greeting {

}


/* Page Two, About Section */
.page-two {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

#about {

}

#about h2.bio-elements {

}


/* Page Three, Portfolio Section */
.page-three {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

#portfolio {

}

#portfolio h2.portfolio-elements {

}


/* Page Four, Contact Section */
.page-four {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

#contact {

}

#contact h2.contact-me {

}

/* Footer Section */
footer {
    font-size: 2rem;
    margin-top: 2rem;
    bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem;
}

/* Media Queries Section */