:root {
    --light: #fff;
}

/* Font size set to 10px. 1rem will equal 10px. */
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: blueviolet;
    width: 80%;
    height: fit-content;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2 {
    
}


/* Properties applied to the Header and Footer */
nav,
footer {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header and Navigation Bar Section*/
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    border-radius: .5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: .2rem solid #d179cd;
    z-index: 1;
    
}

/* This allows me to change the color based on hover and what page we are on */
nav:hover li a {
    opacity: 0.5; 
}
nav:hover li a:hover {
      opacity: 1; 
    
}

li {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
    transition: .3s ease;
}

p {
    font-size: 1.6rem;
}

img.logo {
    height: 5rem;
    width: 5rem;
}

/* might delete this late...check back */
main {

}

/* Page One, Home Section */
.page-one {
    display: grid;
    background-color: var(--light);
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 8rem;
}

img.hello-pic {
    width: 100%;
    max-width: 61rem;
    height: auto;
    float: right;
    margin-left: 2.5rem;
    outline: .2rem solid #d179cd;
}

#home {
    float: left;
    margin-right: 2.5rem;
}

#home h2.greeting {
    margin-top: 12rem;

}


/* Page Two, About Section */
.page-two {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}


#about {
    
}

#about h2.bio-elements {
    
}


/* Page Three, Portfolio Section */
.page-three {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    
}

img.github {
    width: 100%;
    max-width: 100rem;
    height: auto;
    outline: .2rem solid #d179cd;
}

img.placeholder-one {
    width: 100%;
    max-width: 50rem;
    max-height: 28.1rem;
    height: auto;
    outline: .2rem solid #d179cd;
    object-fit: cover;
}

img.placeholder-two {
    width: 100%;
    max-width: 50rem;
    height: auto;
    outline: .2rem solid #d179cd;
    transform: scaleX(-1);
}

#portfolio {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
}

#portfolio a {
    
}

#portfolio a:hover {
    
}

#portfolio .github-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 7.4%;
    width: 20%;
    line-height: 2;
    background-color: rgb(255, 255, 255, .8);
    border: .2rem solid #d179cd;
}

#portfolio .placeholder-text-one {
    position: absolute;
    text-align: center;
    top: 87%;
    left: 7.4%;
    width: 20%;
    line-height: 2;
    background-color: rgb(255, 255, 255, .8);
    border: .2rem solid #d179cd;
}

#portfolio .placeholder-text-two {
    position: absolute;
    text-align: center;
    top: 87%;
    left: 50%;
    width: 20%;
    line-height: 2;
    background-color: rgb(255, 255, 255, .8);
    border: .2rem solid #d179cd;
}

#portfolio h2.portfolio-elements {
    text-align: left;
}


/* Page Four, Contact Section */
.page-four {
    background-color: var(--light);
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}

#contact {

}

#contact h2.contact-me {

}

/* Footer Section */
footer {
    font-size: 2rem;
    margin-top: 2rem;
    bottom: 0;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem;
}

/* Media Queries Section */